---
http_interactions:
- request:
    method: get
    uri: https://api.therealreal.com/v2/products
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Currency:
      - USD
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.therealreal.v2+json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"total":578342,"links":[{"rel":"self","href":"https://api.therealreal.com/v2/products"},{"rel":"next","href":"https://api.therealreal.com/v2/products?limit=30\u0026offset=30"}]},"products":[{"id":"2749997","sku":"SAL37618","name":"Leather
        Gancini Loafers","disclaimers":[],"description":"Men''s black leather Salvatore
        Ferragamo round-toe Gancini loafers with tonal stitching and rubber soles.","condition":"Very
        Good","quantity":1,"price":{"value":"245.0","currency":"USD"},"discount":null,"msrp":null,"dimensions":{"width":null,"height":null,"depth":null},"href":"https://www.therealreal.com/products/men/shoes/loafers/salvatore-ferragamo-leather-gancini-loafers-89","links":{"designer":"1204","artist":null,"category":"4","return_policy":"refund","attributes":["54858"]},"images":[{"rel":"main","media":[{"size":"medium","src":"https://product-images2.therealreal.com/SAL37618_1_product.jpg"},{"size":"large","src":"https://product-images2.therealreal.com/SAL37618_1_enlarged.jpg"}]},{"rel":"main","media":[{"size":"medium","src":"https://product-images2.therealreal.com/SAL37618_2_product.jpg"},{"size":"large","src":"https://product-images2.therealreal.com/SAL37618_2_enlarged.jpg"}]},{"rel":"main","media":[{"size":"medium","src":"https://product-images2.therealreal.com/SAL37618_3_product.jpg"},{"size":"large","src":"https://product-images2.therealreal.com/SAL37618_3_enlarged.jpg"}]},{"rel":"main","media":[{"size":"medium","src":"https://product-images2.therealreal.com/SAL37618_4_product.jpg"},{"size":"large","src":"https://product-images2.therealreal.com/SAL37618_4_enlarged.jpg"}]},{"rel":"main","media":[{"size":"medium","src":"https://product-images2.therealreal.com/SAL37618_5_product.jpg"},{"size":"large","src":"https://product-images2.therealreal.com/SAL37618_5_enlarged.jpg"}]},{"rel":"main","media":[{"size":"medium","src":"https://product-images2.therealreal.com/SAL37618_6_product.jpg"},{"size":"large","src":"https://product-images2.therealreal.com/SAL37618_6_enlarged.jpg"}]}],"sizes":[{"type":"shoe","value":"10.5"}],"availability":{"type":"available","name":"Available"},"components":[{"links":{"attributes":["63892"]}}],"notes":[{"label":"Condition","content":"Light
        scuffs at vamp; minor wear at soles."}],"made_on":null,"promotion":{"label":"20%
        Off Code: GIFT","code":"GIFT"}},{"id":"2752286","sku":"GUC110039","name":"Spike
        Horsebit Loafers","disclaimers":[],"description":"Men''s black leather Gucci
        loafers with gold-tone hardware, round toes, spike embellishments throughout,
        horsebit accent penny bar at vamps, tonal stitching and stacked heels. Includes
        box.","condition":"Good","quantity":1,"price":{"value":"375.0","currency":"USD"},"discount":null,"msrp":null,"dimensions":{"width":[...]
