---
http_interactions:
- request:
    method: get
    uri: https://api.therealreal.com/v2/products?limit=10&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Currency:
      - USD
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.therealreal.v2+json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"total":578458,"links":[{"rel":"self","href":"https://api.therealreal.com/v2/products?limit=10\u0026offset=0"},{"rel":"next","href":"https://api.therealreal.com/v2/products?limit=10\u0026offset=10"}]},"products":[{"id":"2741112","sku":"CHAIR20062","name":"Ikat
        Side s","disclaimers":[{"message":"This item can only be shipped to the U.S."}],"description":"Pair
        of light carved wood side chairs with blue and white ikat upholstery and whicker
        backings. \r\n\r\nFor our oversize Art \u0026 Home items such as Furniture
        and Area Rugs, we provide a White Glove delivery service which includes in-room
        delivery, assembly and removal of packing materials. \u003cb\u003eOur deliveries
        typically take 4 to 6 weeks from the time the order is placed.\u003c/b\u003e\r\n","condition":"Very
        Good","quantity":1,"price":{"value":"225.0","currency":"USD"},"discount":null,"msrp":null,"dimensions":{"width":null,"height":null,"depth":null},"href":"https://www.therealreal.com/products/home/furniture/seating/ikat-side-chairs","links":{"designer":"4845","artist":null,"category":"7","return_policy":"refund","attributes":[]},"images":[{"rel":"main","media":[{"size":"medium","src":"https://product-images4.therealreal.com/CHAIR20062_1_product.jpg"},{"size":"large","src":"https://product-images4.therealreal.com/CHAIR20062_1_enlarged.jpg"}]},{"rel":"main","media":[{"size":"medium","src":"https://product-images4.therealreal.com/CHAIR20062_2_product.jpg"},{"size":"large","src":"https://product-images4.therealreal.com/CHAIR20062_2_enlarged.jpg"}]},{"rel":"main","media":[{"size":"medium","src":"https://product-images4.therealreal.com/CHAIR20062_3_product.jpg"},{"size":"large","src":"https://product-images4.therealreal.com/CHAIR20062_3_enlarged.jpg"}]},{"rel":"main","media":[{"size":"medium","src":"https://product-images4.therealreal.com/CHAIR20062_4_product.jpg"},{"size":"large","src":"https://product-images4.therealreal.com/CHAIR20062_4_enlarged.jpg"}]},{"rel":"main","media":[{"size":"medium","src":"https://product-images4.therealreal.com/CHAIR20062_5_product.jpg"},{"size":"large","src":"https://product-images4.therealreal.com/CHAIR20062_5_enlarged.jpg"}]},{"rel":"main","media":[{"size":"medium","src":"https://product-images4.therealreal.com/CHAIR20062_6_product.jpg"},{"size":"large","src":"https://product-images4.therealreal.com/CHAIR20062_6_enlarged.jpg"}]}],"sizes":[],"availability":{"type":"available","name":"Available"},"components":[],"notes":[{"label":"Condition","content":"Few
        small black markings at front left leg of one chair."},{"label":"Measurements","content":"Height
        38\", Width 22.5\", Depth 20.5\", Seat Depth 18.5\""}],"made_on":null,"promotion":{"label":"20%
        Off Code: GIFT","code":"GIFT"}},{"id":"2752549","sku":"CRT28035","name":"Dragon
        Stationery Set","disclaimers":[{"message":"This item can only be shipped to
        the U.S."}],"description":"Creme, black, red and gold Cartier partial dragon
        stationery set with nine cards and seven envelopes. Includes box.","condition":"Very
        Good","quantity":1,"price":{"value":"65.0","currency":"USD"},"discount":null,"msrp":null,"dimensions":{"width":null,"height":nul[...]
