---
http_interactions:
- request:
    method: get
    uri: https://api.therealreal.com/v2/products?aggregations=available,editors_pick,on_sale_now,with_tags&limit=30&offset=60
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.therealreal.v2+json
      Currency:
      - USD
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.therealreal.v2+json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"aggregations":[{"type":"available","property":"available","name":"Hide
        sold items","param":"availability","value":"available","selected":false},{"type":"with_tags","property":"with_tags","name":"With
        Tags","param":"with_tags","value":"true","selected":false}],"pagination":{"total":578462,"links":[{"rel":"self","href":"https://api.therealreal.com/v2/products?aggregations=available%2Ceditors_pick%2Con_sale_now%2Cwith_tags\u0026limit=30\u0026offset=60"},{"rel":"prev","href":"https://api.therealreal.com/v2/products?aggregations=available%2Ceditors_pick%2Con_sale_now%2Cwith_tags\u0026limit=30\u0026offset=30"},{"rel":"next","href":"https://api.therealreal.com/v2/products?aggregations=available%2Ceditors_pick%2Con_sale_now%2Cwith_tags\u0026limit=30\u0026offset=90"}]},"products":[{"id":"2752983","sku":"WLQ21046","name":"Small
        Crystal Vanity Dish","disclaimers":[{"message":"This item can only be shipped
        to the U.S."}],"description":"Clear Lalique small crystal vanity dish with
        floral motif and frosted finish. Includes box.","condition":"Excellent","quantity":1,"price":{"value":"95.0","currency":"USD"},"discount":null,"msrp":null,"dimensions":{"width":null,"height":null,"depth":null},"href":"https://www.therealreal.com/products/home/decor-and-accessories/decorative-accents/lalique-small-crystal-vanity-dish-2","links":{"designer":"750","artist":null,"category":"7","return_policy":"refund","attributes":[]},"images":[{"rel":"main","media":[{"size":"medium","src":"https://product-images2.therealreal.com/WLQ21046_1_product.jpg"},{"size":"large","src":"https://product-images2.therealreal.com/WLQ21046_1_enlarged.jpg"}]},{"rel":"main","media":[{"size":"medium","src":"https://product-images2.therealreal.com/WLQ21046_2_product.jpg"},{"size":"large","src":"https://product-images2.therealreal.com/WLQ21046_2_enlarged.jpg"}]},{"rel":"main","media":[{"size":"medium","src":"https://product-images2.therealreal.com/WLQ21046_3_product.jpg"},{"size":"large","src":"https://product-images2.therealreal.com/WLQ21046_3_enlarged.jpg"}]},{"rel":"main","media":[{"size":"medium","src":"https://product-images2.therealreal.com/WLQ21046_4_product.jpg"},{"size":"large","src":"https://product-images2.therealreal.com/WLQ21046_4_enlarged.jpg"}]},{"rel":"main","media":[{"size":"medium","src":"https://product-images2.therealreal.com/WLQ21046_5_product.jpg"},{"size":"large","src":"https://product-images2.therealreal.com/WLQ21046_5_enlarged.jpg"}]},{"rel":"main","media":[{"size":"medium","src":"https://product-images2.therealreal.com/WLQ21046_6_product.jpg"},{"size":"large","src":"https://product-images2.therealreal.com/WLQ21046_6_enlarged.jpg"}]}],"sizes":[],"availability":{"type":"available","name":"Available"},"components":[],"notes":[{"label":"Condition","content":"No
        visible signs of use."},{"label":"Measurements","content":"Diameter 4.5\""}],"made_on":null,"promotion":{"label":"20%
        Off Code: GIFT","code":"GIFT"}},{"id":"2752688","sku":"AOULI20028","name":"Valentino:
        At The Emperor''s Table","disclaimers":[{"message":"Coupons and discounts
        are not available for this product."},{"message":"This item can only be shipped
        to the U.S."}],"description":"In this hardcover book \u003ci\u003eValentino:
        At The Emperor''s Table,\u003c/i\u003e published by Assouline, photographer
        Oberto Gili allows the viewer to enter into t[...]
